.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin: 16px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.logo img {
  width: 100%;
  object-fit: contain
}
